# npm
node_modules
package-lock.json
*.log
*.gz

/public
# /api

.env

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

/api/**/*.js.map
.vercel

# dist build output
# /dist

# db files
*.sqlite
*.db